.timerinner {
  color: rgb(4 120 87);
  display: flex;
  padding: 0 1rem;
  border-radius: 5px;
}

.timer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.divider,
.time {
  font-size: 2rem;
   padding: 1rem;
}

.diver {
  padding: 0 2rem;
}

.label {
  font-size: 0.8rem;
}

