<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="5 seconds">
    <include resource="logback/console-appender.xml"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE_APPENDER"/>
    </root>

    <logger name="org.hibernate.SQL" additivity="false">
        <level value = "DEBUG" />
        <appender-ref ref="CONSOLE_APPENDER"/>
    </logger>
</configuration>